<h2>Athletes</h2>
<div class="row g-3">
  <% for (let ref of athletes) { %>

    <div class="col-4">
      <div class="card p-1">
        <h5 class="card-title"><%= ref.name %></h5>
        <div class="card-text">
          <div><%= ref.sex %> Sex</div>
          <div><%= ref.age %> Age</div>
          <div><%= ref.height %> Height</div>
          <div><%= ref.weight %> Weight</div>
          <div>
            <a class="btn btn-outline-primary" href="<%= '/athletes/' + ref.athleteID + '/edit' %>">Edit</a>
            <a class="btn btn-outline-danger" href="<%= '/athletes/' + ref.athleteID + '/delete' %>">Delete</a>
          </div>
        </div>
      </div>
    </div>


  <% } %>

 <%- include("./athletesPagination.ejs", { currentPage, lastPage }) %>

</div>